{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="chartlist dotted-background"> 
     <div class="chartlist-container">
    <h1 class="chartlist-heading">Chart List</h1>

    <h1 class="chartlist-subheading" style="margin-top: 15px; margin-bottom: 20px; text-align: center;">
        Organizations which are sincerely working for your security, growth, and excellence
    </h1>
    
    <div class="chartlist-button-container"> 
        <a href="#" class="chartlist-button" onclick="return false;">
            <span class="chartlist-text">Rupak</span>
        </a>
        <a href="#" class="chartlist-button" onclick="return false;">
            <span class="chartlist-text">Lily</span>
        </a>
        <a href="#" class="chartlist-button" onclick="return false;">
            <span class="chartlist-text">Asha</span>
        </a>
        <a href="#" class="chartlist-button" onclick="return false;">
            <span class="chartlist-text">Tulip</span>
        </a>
    </div> 
     

        <div class="illustration-container">
            <img src="{% static 'images/chartlist.svg' %}" alt="Chartlist Illustration" class="illustration" /> 
        </div>
    </div> 

    <p class="text-indigo-600 text-center text-sm">Strength in Trust, Growth in Wealth!</p>

</body>
</html>
        